<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>
<%- include('./partials/nav') %>
<body>

    <h1>Employee list</h1>
   
    <ul>
        <% employees.forEach(employee => { %>
        <li>
            <a href="/employees/<%= employee._id %>">
            <%= employee.firstname %>
            <%= employee.lastname %>
      </a>  
    </li>
        <%  }); %>
    </ul>

    

    <%- include('./partials/footer') %>
</body>

</html>