<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>

</head>

<body>
    <%- include('./partials/nav') %>
    <h1>Employee Data Base</h1>

    <ul>
        <% employees.forEach(employee => { %>
        <li class="employee-list">
            <a href="/employees/<%= employee._id %>">
                <%= employee.idnumber %> -
                <%= employee.firstname %>
                <%= employee.lastname %>
            </a>
        </li>
        <%  }); %>
    </ul>



    <%- include('./partials/footer') %>
</body>

</html>