<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
    
</head>
<body>
    <%- include('./partials/nav') %>
    <h1><%= employee.firstname %> <%= employee.lastname %></h1>
     
    D.O.B: <%= employee.dob %>
    Gender: <%= employee.gender%>
    Address: <%= employee.address%>
    Post-Code: <%= employee.postcode%>
    Phone Number: <%= employee.phonenumber%>
    Email Address: <%= employee.emailaddress%>
    Position: <%= employee.position%>

    <a href="/employees/<%=employee._id %>/edit">Edit</a>
    <form action="/employees/<%=employee._id %>/?_method=DELETE" method="POST">
    <input type="submit" value="Delete" class="delete">
    </form>

    <%- include('./partials/footer') %>
</body>
</html>